@charset "utf-8";

#bottom{
    margin: 0px;
    padding: 0px;
    position: relative;
}

h4{
    margin: 0px;
    padding: 0px;
    color: rgb(132, 132, 132);
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#bottom ul{
    padding-top: 130px;

}

#backmenu{
    margin: 0px;
    padding: 0px;
    text-align: center;
    list-style-type: none;
    display: block;
    font-size: 150%;
    z-index: 0;
}

#backmenu li{
   margin-top:  10px;
   margin-bottom: 9px;
   display: block;
}

#backmenu li a{
    margin: 0px;
    padding-top:0px;
    color: rgb(176, 176, 176);
    list-style-type: none;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    transition: 0.5s;
}

#backmenu li a:hover{
    color: #ffffff;
    clear: both;
    font-size: 150%;
}
